<div id="fondo">
<div id="texto-arriba" class="row justify-content-center">
    <div class="col-md-8">
      <h2 id="proyectos-texto" class="fw-bold text-center mt-5">CONTACTO</h2>
      <p id="descripcion-proyectos" class="fs-6 mt-3 pb-3 text-center">
        Datos de Contacto, de Lunes a Viernes.
      </p>
    </div>
  </div>
  <section  class="vh-100 gradient-custom">
    <div  class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div  class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div id="modal" class="card bg-dark text-white" style="border-radius: 1rem;">
                    <img src="./assets/img/logo-joseaberturasweb.png" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div >

                            <!--datos Contacto-->
                            <div class="form-outline form-white mb-4">
                                
                                <label class="form-label" for="nombreUsuario">Telefono: +549-364 4-613658</label>
                            </div>

                            <div>
                                <p>
                                    Email: joseaberturas@gmail.com
                                </p>
                            </div>

                            <!--boton-->
                            <br><br>

                            

                            <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
                            <label class="form-label" for="password">Haz click en el boton que se encuentra debajo para volver a la pagina de Inicio!</label>
                            <a class="boton-home" href="#">
                                
                                <button class="btn btn-outline-light btn-lg px-5">⬆ Volver Arriba ⬆</button>
                            </a>


                        </div>

                        <!-- <div>
                            <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold">Sign
                                    Up</a>
                            </p>

                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>