/*-------------------------------------*/
/*--------ESTILO FADE CUADRANTE--------------*/
/*-------------------------------------*/
.nombreE{
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    
    font-size: 20px;
    color: #ffffff;
    background-color: #343434;
    border-radius: 1rem;

}

/*-------------------------------------*/
/*--------ESTILO FADE CUADRANTE--------------*/
/*-------------------------------------*/

/* TEXTO */
.hover-hide {
    
    opacity: 1;
    transition: opacity 0.3s ease;
    text-align: center;
  }
  .cuadrante:hover .hover-hide {
    
    opacity: 0;
    text-align: center;
  }




.container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 13%;
  padding-right: 13%;
  
}

.cuadrante {
  width: 160px;
  height: 360px;
    background: black;
    cursor: pointer;
    border: none;
    margin: 50px;
  

    font-weight: bold;
    
    border-radius: 12px;
    background-size: cover;
    background-position: center;
  
}



/* Estilos adicionales */

#button-agregar{
  text-align: center;
  margin-top: 10%;
}

.fa-solid.fa-trash.fa-2xl{
margin-left: 30px;
}

.fa-solid.fa-trash.fa-2xl:hover{
color: red;
}

.fa-solid.fa-circle-plus{
  font-size: 28px;
  color: rgba(0, 255, 140, 0.717);
}

.fa-solid.fa-circle-plus:hover{

  color: rgba(0, 255, 132, 0.266);
}

.modal{
  
  /* ACA MODIFICAR EL MODAL ENTERO */

  

}