<div id="button-agregar" *ngIf="isLogged">
    <i class="fa-solid fa-circle-plus" type="button" data-bs-toggle="modal"
      data-bs-target="#target"></i>
  </div>
  <app-new-abertura></app-new-abertura>

<div  class="container">
    <div  *ngFor="let Abertura of abertura; let i = index">
        <div class="cuadrante" [style.background-image]="'url(' + Abertura.urlMiniatura + ')'" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i">

            

            <!--==========================================================
            =========================== Modal ============================
            ============================================================-->
            <div class="modal" [id]="'exampleModal' + i" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ Abertura.id }}</h1>
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ Abertura.tipo }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/contacto">Consultar!</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--==========================================================
            ==============================================================
            ============================================================-->




            <div class="hover-hide">
                <h4 class="nombreE">{{ Abertura.tipo }}</h4>
            </div>
            
        </div>
        <div class="mx-auto mt-4" *ngIf="isLogged" id="pencil-trash">
            <button class="btn btn-light" routerLink="/aberturas/edit/{{ Abertura.id }}">
              <i>EDITAR</i>
            </button>
            <i class="fa-solid fa-trash fa-2xl" type="button" data-bs-toggle="modal" (click)="delete(Abertura.id)"></i>
          </div>

    </div>
</div>

