<!--======================================-->
<!--Seccion de carrousell con nombre-->
<!--======================================-->

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-text">
    <h2 id="texto-titulo">PUERTAS DE EXTERIOR</h2>
    <p id="texto-descrip">Resistentes a la Humedad.</p>
    <!--boton lapiz editar nombre
            <app-edit-name-carousel></app-edit-name-carousel>-->
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">

      <img id="img" src="./assets/img/PuertasExteriorGrande2.jpg" class="d-block w-100" alt="slide1">
    </div>


  </div>

</div>

<br><br><br>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-text">
    <br>
    <h2 id="texto-titulo">PUERTAS DE INTERIOR</h2>

    <!--boton lapiz editar nombre
            <app-edit-name-carousel></app-edit-name-carousel>-->
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">

      <img id="img" src="./assets/img/PuertasInteriorGrande2.jpg" class="d-block w-100" alt="slide1">
    </div>



  </div>
  <!--Flechas Carrousell
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>-->
</div>
<br><br><br><br><br><br><br>
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 id="proyectos-texto" class="fw-bold text-center mt-5">Catalogo de Aberturas</h2>
    <p id="descripcion-proyectos" class="fs-6 mt-3 pb-3 text-center">
      Puertas y Ventanas, aptas para interior y exterior.
    </p>
  </div>
</div>